
.counter {
    font-size: 60px;
    background-color: #383737;
    border-radius: 15px;
    color: white;
    padding: 20px;
    margin: 20px;
}

.reloj {
    text-align: center;
    background-color: #1F1E1E;
}

body {
    background-color: #1F1E1E;
}