
.counter {
    font-size: 60px;
    background-color: blue;
    border-radius: 15px;
    color: white;
    padding: 20px;
    margin: 20px;
}

.reloj {
    text-align: center;
    background-color: aqua;
}